.page {
  background-color: #dee1ec;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.nav-bar-item {
  text-decoration: none;
  color: white;
}

.nav-bar-item:hover {
  color: #dee1ec;
}
